<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instalando Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app" class="">
        <!-- if / template -->
        <!-- <template v-if="mostrar">
            <div>Este es el primer div</div>
        </template>
        <div v-else>Este es el segundo div</div> -->
        <!-- Else if -->
        <!-- <div v-if="parrafo == 1">Este es el primer div</div>
        <div v-else-if="parrafo == 2">Este es el Segundo div</div>
        <div v-else-if="parrafo == 3">Este es el tercer div</div>
        <div v-else>Parrafo by default</div> -->
        <div v-show="mostrar">
            <h1>Titulo</h1>
        </div>
    </div>

    <script src="vue.js"></script>
</body>

</html>